@model IEnumerable<AdminPanel.Models.MasterReview>
@{
    ViewBag.Title = "ManageReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ManageReview", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <ul class="nav nav-tabs">
        <li class="active"><b>Manage Review</b></li>
    </ul>
    <table class="table">
        <tr>
    <th>
        @Html.DisplayNameFor(model => model.Id)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Name)
    </th>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        @if (ViewBag.dataId == null || ViewBag.dataId != item.Id)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        }
        else
        {
            <td>

                <input type="hidden" name="Id" value=@item.Id />
                <input type="text" name="Name" value="@item.Name" />
            </td>
        }

        @if (ViewBag.dataId == null || ViewBag.dataId != item.Id)
        {
            <td>
                @Html.ActionLink("Edit", "ManageReview", new { id = item.Id })
            </td>
        }
        else
        {
            <td>
                <input type="submit" value="Save" />

            </td>
        }
        <td>
            @Html.ActionLink("Delete", "DeleteMasterReview", new { id = item.Id })
        </td>
    </tr>
    }
        </table>
        <b>Add new type of Master Review</b>
        <input type="text" name="Name" />
        <input type="submit" value="Add" />
}

